/*order.css */

.product{
  vertical-align:middle;
  text-align:center;
  width: 500px;
}


.table th{
	width: 150px;
	background-color: #EFF2FB;
	text-align: left;
}
button {
  border-radius: 100;
}
 
.table td {
  vertical-align:middle;
  text-align:center;
}

.table tr {
  vertical-align:middle;
  text-align:center;
}