/*MD추천 상품*/
#recommend2 {
  float:left;
}

 /* 최저가 3개 상품 */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.col-lg-4 img{
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;

}

.img-wrap {
  width: 200px;
  height: 200px;
}


/*우측 광고 animation*/

#sidebar{
  float:right;
  width: 100px;
  margin-top: 10px;
  margin-right: 50px;
}

#sidebar img{
  width:200px;
  height:370px;  
}

.animate-enter,.animate-leave {
-webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
transition:1000ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
left:100%;
}

.animate-leave.animate-leave-active {
left:-100%;
}

.animate-enter.animate-enter-active,.animate-leave {
left:0;
}

/*로그인 시 없어지는 광고(신규가입)*/

#sidebar2{
 /* float:right;*/
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#sidebar2 img{
  width:400px;
  height:175px;  
}

/*로그인 시 없어지는 광고(2)*/

#sidebar3{
 /* float:right;*/
  width: 100px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#sidebar3 img{
  width:400px;
  height:175px;  
}


