/** productDetail.html css  **/ 


img.productList {
   /*왼쪽 위치 고정*/
   float: left; 
   border: 1px solid black;
   margin-right: 3em;
   margin-bottom: 2em;
   background-color: white;
   padding: 2em;
   height: 400px;
   width: 400px;
}


img.detail {
   float: left;
   /* border: 1px solid black;*/
   margin-right: 3em;
   margin-bottom: 2em;
   background-color: white;
   padding: 2em;
   height: 400px;
   width: 400px;
}

.detailtable{
   text-align: center; 
   vertical-align: center;
   border-bottom: 1px ;
   width: 700px;
};

.detailtable tr{
   text-align: center;
   border-bottom: 1px ;

};

.detailtable td{
   text-align: center;
   border-bottom: 1px ;
   padding: 6px 16px;
   text-align: center;

};


/*상품평*/
#evaluation{
  text-align: center; 
  vertical-align: center;
}

.column{
   width: 900px;
}

.table {
  width: 100%;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}