<div class="footer_top">
    <div class="wrap">
        <div class="footer">
            <!-- start grids_of_3 -->
            <div class="span_of_3">
                <div class="span1_of_3">
                    <h3>text edit</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                </div>
                <div class="span1_of_3">
                    <h3>twitter widget</h3>
                    <p><a href="#">@Contrarypopular</a> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give <a href="#">@accountofsystem</a> </p>
                    <p class="top">19 days ago</p>
                    <p class="top"><a href="#">@Contrarypopular</a> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give <a href="#">@accountofsystem</a> </p>
                    <p class="top">19 days ago</p>
                </div>
                <div class="span1_of_3">
                    <h3>flickr widget</h3>
                    <ul class="f_nav">
                        <li>
                            <a href="#"><img src="images/f_pic1.jpg" alt="" /> </a>
                        </li>
                        <li>
                            <a href="#"><img src="images/f_pic2.jpg" alt="" /> </a>
                        </li>
                        <li>
                            <a href="#"><img src="images/f_pic3.jpg" alt="" /> </a>
                        </li>
                        <li>
                            <a href="#"><img src="images/f_pic4.jpg" alt="" /> </a>
                        </li>
                        <li>
                            <a href="#"><img src="images/f_pic5.jpg" alt="" /> </a>
                        </li>
                        <li>
                            <a href="#"><img src="images/f_pic6.jpg" alt="" /> </a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- start footer -->
<div class="footer_mid">
    <div class="wrap">
        <div class="footer">
            <div class="f_search">
                <form>
                    <input type="text" value="" placeholder="Enter email for newsletter" />
                    <input type="submit" value="" />
                </form>
            </div>
            <div class="soc_icons">
                <ul>
                    <li>
                        <a class="icon1" href="#"></a>
                    </li>
                    <li>
                        <a class="icon2" href="#"></a>
                    </li>
                    <li>
                        <a class="icon3" href="#"></a>
                    </li>
                    <li>
                        <a class="icon4" href="#"></a>
                    </li>
                    <li>
                        <a class="icon5" href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- start footer -->
<div class="footer_bg">
    <div class="wrap">
        <div class="footer">
            <!-- scroll_top_btn -->
            <script type="text/javascript">
            $(document).ready(function() {

                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };


                $().UItoTop({
                    easingType: 'easeOutQuart'
                });

            });
            </script>
            <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
            <!--end scroll_top_btn -->
            <div class="f_nav1">
                <ul>
                    <li><a href="#">home /</a></li>
                    <li><a href="#">support /</a></li>
                    <li><a href="#">Terms and conditions /</a></li>
                    <li><a href="#">Faqs /</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="copy">
                <p class="link"><span>Copyright &copy; 2016.Company name All rights reserved.</span><a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
