<!doctype html>
<h2>ID Find</h2>

name : <input type="surname" name="surname" />
 </br>
Social security number : <input type="surname" name="surname" />
 </br>

<input type="button" name="submit" value="submit" onclick="location.href='findedid.html'";>
	
	
	
<h2>Password Find</h2>
	
ID : <input type="surname" name="surname" />
 </br>
Name : <input type="surname" name="surname" />
 </br>
Social security number : <input type="surname" name="surname" />
 </br>

<input type="button" name="submit" value="submit" onclick="location.href='findedpw.html'";>
	