<!-- 주문완료페이지 -->

</br>
<h2 align=center class="text-info">
<span class="glyphicon glyphicon-gift"></span>  결제 완료
</h2>

<hr width="800">

 <div rowspan="4" colspan="2">
   <img ng-src="../images/{{img}}" class="detail">
 </div>


<div>
  </br>
  </br>
  </br>
  <h3 span style="color:#37C3C3" align="center"> 
  {{user.fullName}}&nbsp;님께서 주문하신 
  </br>
  {{singleProduct.brand}} {{singleProduct.things}}의 
  </br>
  결제가 완료되었습니다. 
  </br>
  구매해 주셔서 감사합니다. </h3>

  </br>
  
</div>

</br>
</br>
</br>

<div align="center">
  <!-- 메인 화면으로 이동 -->
  <a href="/#"><button class="btn btn-info"><span class="glyphicon glyphicon-home"></span> 계속 쇼핑하기</button></a>

  <!-- ordercheck.html로 이동 -->

  <a href="#/ordercheck"><button class="btn btn-warning" ><span class="glyphicon glyphicon-exclamation-sign"></span> 주문확인</button></a>

</div>
