<!-- start top_bg -->
<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h4 class="style">登录或创建一个新账户</h4>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div class="login_left">
                <h3>用户登录</h3>
                <p>如果你有我们的账户，请登录</p>
                <!-- start registration -->
                <div class="registration">
                    <div class="registration_left">
                        <div class="registration_form">
                            <!-- Form -->
                            <form action="contact.php" method="post">
                                <div>
                                    <label>
                                        <input placeholder="邮箱：" type="email" tabindex="3" required="">
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input placeholder="密码：" type="password" tabindex="4" required="">
                                    </label>
                                </div>
                                <div>
                                    <input type="submit" value="sign in" id="register-submit">
                                </div>
                                <div class="forget">
                                    <a href="#">忘记密码</a>
                                </div>
                            </form>
                            <!-- /Form -->
                        </div>
                    </div>
                </div>
                <!-- end registration -->
            </div>
            <div class="login_left">
                <h3>用户注册</h3>
                <p>通过创建一个我们商场的帐户，在您的账户中，您将能够存储多个发货地址，查看和跟踪您的订单</p>
                <div class="registration_left">
                    <div class="registration_form">
                        <!-- Form -->
                        <form name="registerForm" role="form" action="/register" method="post">
                            <div>
                                <label>
                                    <input placeholder="用户名：" type="text" name="fullName" ng-model="fullName" ng-minlength="2" ng-maxlength="16" ng-required="true" remote-validated="used" tabindex="2">
                                </label>
                                <div class="error ng-hide" ng-show="registerForm.fullName.$error.minlength">
                                    <p>用户名不能小于2个字.</p>
                                </div>
                                <div class="error ng-hide" ng-show="registerForm.fullName.$error.maxlength">
                                    <p>用户名不能大于两个字.</p>
                                </div>
                            </div>
                            <div class="sky_form">
                             <select class="form-control input-lg" name="sex" ng-model="sex" required="true" tabindex="4">
                            <option value="남자" selected>女生</option>
                            <option value="여자">男生</option>
                        </select>
<!-- 
                                <ul>
                                    <li>
                                        <label class="radio left">
                                            <input type="radio" name="radio" checked=""><i>Male</i></label>
                                    </li>
                                    <li>
                                        <label class="radio">
                                            <input type="radio" name="radio"><i>Female</i></label>
                                    </li>
                                </ul> -->
                            </div>
                            <div>
                                <label>
                                    <input placeholder="邮箱" type="email" name="username" ng-model="username" autofocus="true" ng-required="true" remote-validated="used" tabindex="1">
                                </label>
                                <div class="errors" ng-class="{ active: registerForm.username.$invalid && registerForm.username.$dirty }">
                                    <div class="error ng-hide" ng-show="registerForm.username.$error.email">
                                        <p>邮箱格式错误</p>
                                    </div>
                                </div>
                                <div>
                                    <label>
                                        <input placeholder="密码" type="password" name="password" ng-model="password" ng-minlength="5" ng-maxlength="16" ng-required="true" password-match="password" tabindex="3">
                                    </label>
                                    <div class="errors" ng-class="{ active: registerForm.password.$invalid && registerForm.password.$dirty }">
                            <div class="error ng-hide" ng-show="registerForm.password.$error.minlength">
                                <p>密码不可以小于5位数.</p>
                            </div>
                            <div class="error ng-hide" ng-show="registerForm.password.$error.maxlength">
                                <p>密码不可以大于16位数.</p>
                            </div>
                        </div>
                                </div>
                                <div>
                                    <label>
                                        <input placeholder="确认密码" type="password" tabindex="4" required="">
                                    </label>
                                </div>
                                <div>
                                    <input type="submit" value="创建一个账户" id="register-submit">
                                </div>
                                <div class="sky_form">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox"><i>我同意 <a class="terms" href="#"> 服务条款</a> </i></label>
                                </div>
                        </form>
                        <!-- /Form -->
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form name="registerForm" role="form" action="/register" method="post">
                    <h2><b>회원가입 <small>Mean Shopping Mall에 오신 것을 환영합니다.</small>
      </b></h2>
                    <hr class="colorgraph">
                    <div class="form-group username">
                        <input type="email" class="form-control input-lg" placeholder="Email Address" name="username" ng-model="username" autofocus="true" ng-required="true" remote-validated="used" tabindex="1">
                        <div class="errors" ng-class="{ active: registerForm.username.$invalid && registerForm.username.$dirty }">
                            <div class="error ng-hide" ng-show="registerForm.username.$error.email">
                                <p>邮箱格式错误</p>
                            </div>
                            <!-- <div class="error ng-hide" ng-show="registerForm.username.$error.used">
              <p>E-Mail is already taken.</p>
            </div> -->
                        </div>
                    </div>
                    <div class="form-group fullName">
                        <input type="text" class="form-control input-lg" placeholder="Name" name="fullName" ng-model="fullName" ng-minlength="2" ng-maxlength="16" ng-required="true" remote-validated="used" tabindex="2">
                        <div class="error ng-hide" ng-show="registerForm.fullName.$error.minlength">
                            <p>최소 2자 이상 입력하세요.</p>
                        </div>
                        <div class="error ng-hide" ng-show="registerForm.fullName.$error.maxlength">
                            <p>최대 16자 이하로 입력하세요.</p>
                        </div>
                    </div>
                    <div class="form-group password">
                        <input type="password" class="form-control input-lg" placeholder="Password" name="password" ng-model="password" ng-minlength="5" ng-maxlength="16" ng-required="true" password-match="password" tabindex="3">
                        <div class="errors" ng-class="{ active: registerForm.password.$invalid && registerForm.password.$dirty }">
                            <div class="error ng-hide" ng-show="registerForm.password.$error.minlength">
                                <p>최소 5자 이상으로 입력하세요.</p>
                            </div>
                            <div class="error ng-hide" ng-show="registerForm.password.$error.maxlength">
                                <p>최대 16자 이하로 입력하세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group sex">
                        <select class="form-control input-lg" name="sex" ng-model="sex" required="true" tabindex="4">
                            <option value="남자" selected>남자</option>
                            <option value="여자">여자</option>
                        </select>
                    </div>
                    <div class="form-group address">
                        <input type="text" class="form-control input-lg" placeholder="Address" name="address" ng-model="address" ng-minlength="4" ng-maxlength="32" ng-required="true" tabindex="5">
                        <div class="errors" ng-class="{ active: registerForm.address.$invalid && registerForm.address.$dirty }">
                            <div class="error ng-hide" ng-show="registerForm.address.$error.minlength">
                                <p>주소가 너무 짧습니다!</p>
                            </div>
                            <div class="error ng-hide" ng-show="registerForm.address.$error.maxlength">
                                <p>32자 내 주소를 넣어주세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group phone">
                        <input type="text" class="form-control input-lg" placeholder="Phone Number" name="phone" ng-model="phone" ng-minlength="11" ng-maxlength="12" ng-required="true" tabindex="6">
                        <div class="errors" ng-class="{ active: registerForm.phone.$invalid && registerForm.phone.$dirty }">
                            <div class="error ng-hide" ng-show="registerForm.phone.$error.minlength">
                                <p>숫자만 입력하세요</p>
                            </div>
                            <div class="error ng-hide" ng-show="registerForm.phone.$error.maxlength">
                                <p>'-' 없이 입력하세요.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-primary btn-block btn-lg" type="submit" ng-class="{ 'btn-primary': registerForm.$valid &&
          registerForm.$dirty, 'btn-success': redirect }" ng-disabled="registerForm.$invalid || registerForm.$pristine || redirect">
                                <span ng-hide="redirect">회원 가입 <i class="fa fa-repeat fa-spin"></i></span>
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6"><a href="#login" class="btn btn-success btn-block btn-lg"> 로그인</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
